<div class="aboutres">
  <h2 class="text-center">About Us</h2>
  <div class="about">
    <p>Royal Strikers cricket Club is founded by Cricket enthusiastic individuals who work for Tractor Supply company to encourage cricket in Tennessee.</p>
    <h2>Our Mission</h2>
    <p>To provide an environment for participation, learning and success for all Cricket lovers in and around Middle Tennessee region</p>
    <h2>Our Values</h2>
   <ul>
     <li>Integrity</li>
     <li>Sportsmanship</li>
     <li>Encouragement</li>
     <li>Team Spirit</li>
     <li>Enjoyment</li>
   </ul>
  <h2>Club Code of Ethics</h2>
  <h4>Players Code</h4>
    <ul>
      <li>Respect the rights, dignity and worth of fellow players, Umpires, officials and spectators.</li>
      <li>Refrain from conduct which could be regarded as harassment towards fellow players and coaches.</li>
      <li>Do not tolerate acts of aggression.</li>
      <li>Respect the talent, potential and development of fellow players and competitors.</li>
      <li>Care for and respect the equipment provided to you as part of your program.</li>
      <li>Conduct yourself in a professional manner relating to language, temper, and punctuality.</li>
      <li>Maintain high personal behavior standards at all times.</li>
      <li>Abide by the rules and respect the decision of the Umpire, making all appeals through the formal process and respecting the final decision.</li>
      <li>Be honest in your attitude and preparation to training. Work equally hard for yourself and your team.</li>
      <li>Cooperate with Caption and co-players in development of programs to adequately prepare you for competition at the highest level.</li>
    </ul>
  </div>
</div>  

<!--<div>
  <h2 class="text-center">Tournament</h2>
  <h3>NPL</h3>
  <iframe class="npl"
  width="1000"
  height="600"
  frameborder="0" style="border:0"
  [src]='sanitizer.bypassSecurityTrustResourceUrl("https://cricclubs.com/npl")' allowfullscreen>
  </iframe>
</div> 
-->
