/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

html,body {
    height: 100%; /*Fixes the height to 100% of the viewport*/
  }
  body {
    padding-top: 133px; /*50px for the height of the navbar + 37px for the offset*/
    padding-bottom: 50px; /*50px for the height of the bottom navbar*/
    /*background-image: url("./assets/bg.jpg")*/
  }

  .banner-wrap .wsite-header-section .wsite-content-title{
    word-break:normal!important
  }
  